@model fifa.Models.Club

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
</head>
<style>
    #players object {
        width: 700px;
        height: 1000px;
    }
</style>
<body>
<div class="main-block">
    <div class="header-menu">
        <a class="item" href="/Main/Django">Home</a>
        <a class="item active" href="/Main/Clubs?page=1">Clubs</a>
        <a class="item" href="/Main/OnlineChat">Online Chat</a>
        <a class="item" href="/Main/Seasons">Seasons</a>
        <a class="item cursor-pointer" onclick="localStorage.removeItem('token'); window.location.href = '/Main/Index'">Logout</a>
    </div>
    <div class="content-menu">
        <div class="club-block">
            <h2>@Model.Name</h2>
            <img src="@Model.Logo"/>
            <p>Players:</p>
            <div id="players"></div>
        </div>
    </div>
</div>
<script src="/js/jquery.js"></script>
<script>
  $("#players").html('<object data="Players?id=@Model.Id">');
</script>
</body>
</html>