@page
@model fifa.Views.Main.Django

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h2>Oh, no, you reached the message that no one reached!!!</h2>
    <p>The secret message in pentagon: </p>
    <img src="/js/rick.jpg" /><br/>
    <button onclick="localStorage.removeItem('token'); window.location.href = '/Main/Index';">Leave pentagon</button><br />
    <button onclick="showFav()">Show me my favourite club</button>
    <p id="club"></p>
</div>
<h2>Anonymus chat because Durov odobraet</h2>
<div id="chat">
    <form id="frm-send-message" action="#">
        <label for="message">Message:</label>
        <input type="text" id="message" />
        <input type="submit" id="send" value="Send" />
    </form>
    <div class="clear">
    </div>
    <ul id="messages"></ul>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/chat")
        .build();
 
    connection.start().catch(err => console.error(err.toString()));
 
    connection.on('Send', (message) => {
        appendLine(message);
    });
 
    document.getElementById('frm-send-message').addEventListener('submit', event => {
        let message = document.getElementById('message').value;
        document.getElementById('message').value = '';
 
        connection.invoke('Send', message);
        event.preventDefault();
    });
 
    function appendLine(line, color) {
        let li = document.createElement('li');
        li.innerText = line;
        document.getElementById('messages').appendChild(li);
    };
</script>
<script>
    if(!localStorage.getItem('token')) {
        window.location.href = '/Main/Login';
    }
</script>
<script src="/js/jquery.js"></script>
<script>
    function login() {
        const login = $("#login").val();
        const password = $("#password").val();
        
        $.ajax({
          type: "POST",
          url: `http://localhost:5001/api/login`,
          headers: {
              'Content-Type':'application/json; charset=utf-8'
          },
          data: JSON.stringify({
              Login: login,
              Password: password
          }),
          processData: false,
          success: function(msg) {
            if (msg === 'No') {
                window.alert("No bro no enter here for you");
            } else {
                localStorage.setItem("token", msg);
                window.location.href = "/Main/Django";
            }
          }
        });
    }
    function showFav() {
        $.ajax({
            url: `http://localhost:5001/api/club/get`,
            headers: {"token": localStorage.getItem("token")},
            success: (data) => {
                $('#club').html(data);
            }
        });
    }
</script>
</body>
</html>