@page
@model fifa.Views.Main.Django

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h2>Oh, no, you reached the message that IT never reached!!!</h2>
    <p>The secret message in pentagon: </p>
    <img src="/js/django.png"/><br/>
</div>
<script>
    
</script>
</body>
</html>