@page
@model fifa.Views.Main.Django

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
</head>
<body>
<div class="main-block">
    <div class="header-menu">
        <a class="item active" href="/Main/Django">Home</a>
        <a class="item" href="/Main/Clubs?page=1">Clubs</a>
        <a class="item" href="/Main/OnlineChat">Online Chat</a>
        <a class="item" href="/Main/Seasons">Seasons</a>
        <a class="item cursor-pointer" onclick="localStorage.removeItem('token'); window.location.href = '/Main/Index'">Logout</a>
    </div>
    <div class="content-menu">
        <div class="item big first">
            <h2>Kick Off</h2>
            <p>Play a game with any two teams on<br/> some of the greatest pitches.</p>
        </div>
        <div class="item big second">
            <h2>The Journey</h2>
            <p>Play as the premier league's best<br/> rising star, alex hunter.<br/> choose your club, make your name.</p>
        </div>
        <div class="item small">
            <h2 onclick="testCall('Career Mode')">Career mode</h2>
            <p>Make your name</p>
        </div>
        <div class="item small">
            <h2 onclick="showFav()" class="cursor-pointer">Show me my favourite club</h2>
            <p id="club"></p>
        </div>
    </div>
</div>
<script src="/js/signalr/dist/browser/signalr.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery.js"></script>
<script>
    function login() {
        const login = $("#login").val();
        const password = $("#password").val();
        
        $.ajax({
          type: "POST",
          url: `http://localhost:5001/api/login`,
          headers: {
              'Content-Type':'application/json; charset=utf-8'
          },
          data: JSON.stringify({
              Login: login,
              Password: password
          }),
          processData: false,
          success: function(msg) {
            if (msg === 'No') {
                window.alert("No bro no enter here for you");
            } else {
                localStorage.setItem("token", msg);
                window.location.href = "/Main/Django";
            }
          }
        });
    }
    function showFav() {
        $.ajax({
            url: `http://localhost:5001/api/club/get`,
            headers: {"token": localStorage.getItem("token")},
            success: (data) => {
                $('#club').html(data);
            }
        });
    }
</script>
</body>
</html>