@page
@model fifa.Views.Main.Django

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h2>Oh, no, you reached the message that no one reached!!!</h2>
    <p>The secret message in pentagon: </p>
    <img src="/js/rick.jpg" /><br/>
    <button onclick="localStorage.removeItem('here'); window.location.href = '/Main/Index';">Leave pentagon</button>
</div>
<script>
    if(!localStorage.getItem('here')) {
        window.location.href = '/Main/Index';
    }
</script>
</body>
</html>