@page
@model fifa.Views.Main.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <a href="/Main/Clubs?page=1">Clubs</a>
    <a href="/Main/Seasons">Seasons</a>
</div>
</body>
</html>