@page
@model fifa.Views.Main.Login

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
</head>
<body>
<div class="login-block">
    <h2>Login</h2>
    <input id="login" type="text" placeholder="Login"/><br/>
    <input id="password" type="password" placeholder="Password"/><br/>
    <button type="button" onclick="login()">Login</button><br/>
    <a href="/Main/Register">Don't have an account?</a>
</div>
<script src="/js/jquery.js"></script>
<script>
    function login()
    {
        const login = $("#login").val();
        const password = $("#password").val();
        
        $.ajax({
          type: "POST",
          url: `http://localhost:5001/api/login`,
          headers: {
              'Content-Type':'application/json; charset=utf-8'
          },
          data: JSON.stringify({
              Login: login,
              Password: password
          }),
          processData: false,
          success: function(msg) {
            if (msg === 'No') {
                window.alert("No bro no enter here for you");
            } else {
                localStorage.setItem("token", msg);
                window.location.href = "/Main/Django";
            }
          }
        });
    }
</script>
</body>
</html>