@page
@model fifa.Views.Main.Register

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
</head>
<body>
<div class="login-block">
    <h2>Register your account</h2>
    <input id="login" type="text" placeholder="Login"/><br/>
    <input id="password" type="password" placeholder="Password"/><br/>
    <button type="button" onclick="register()">Register</button>
</div>
</body>
<script src="/js/jquery.js"></script>
<script>
    function register()
    {
        const login = $("#login").val();
        const password = $("#password").val();

        $.ajax({
          type: "POST",
          url: `http://localhost:5001/api/registration`,
          headers: {
              'Content-Type':'application/json; charset=utf-8'
          },
          data: JSON.stringify({
              Login: login,
              Password: password
          }),
          processData: false,
          success: function(msg) {
            if (msg === 'Done') {
                window.alert("Registered! Never speak about fight club first rule!");
                window.location.href = "/Main/Login";
            }
          }
        });
    }
</script>
</html>